:root {
  --primary-500: #e09370;
  --primary-200: #fbe3c9;
  --neutral-900: #12070b;
  --neutral-700: #1b1314;
  --neutral-500: #262626;
  --neutral-300: #bdbdbd;
  --neutral-100: #f4f4f4;
  --bg-100: #fdfdfd;
  --danger-500: #ff4530;

  --ff-lora: 'Lora', serif;
  --ff-ubuntu: 'Ubuntu', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fs-28: 1.75rem;
  --fs-24: 1.5rem;
  --fs-23: 1.4375rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-12: 0.75rem;
  --fs-10: 0.625rem;

  --fw-700: 700;
  --fw-600: 600;
  --fw-400: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--bg-100);
  font-family: var(--ff-ubuntu);
}

.btn-hamburger {
  border: none;
}

.nav-link {
  font-family: var(--ff-poppins);
  color: var(--neutral-700);
}

.custom-popover img {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
