:root {
  --primary-500: #e09370;
  --primary-200: #fbe3c9;
  --neutral-900: #12070b;
  --neutral-700: #1b1314;
  --neutral-500: #262626;
  --neutral-300: #bdbdbd;
  --neutral-100: #f4f4f4;
  --bg-100: #fdfdfd;
  --danger-500: #ff4530;

  --ff-lora: 'Lora', serif;
  --ff-ubuntu: 'Ubuntu', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fs-28: 1.75rem;
  --fs-24: 1.5rem;
  --fs-23: 1.4375rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-12: 0.75rem;
  --fs-10: 0.625rem;

  --fw-700: 700;
  --fw-600: 600;
  --fw-400: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--bg-100);
  font-family: var(--ff-ubuntu);
}

img {
  width: 100%;
  height: 100%;
}

.btn-hamburger {
  border: none;
}

.nav-link {
  font-family: var(--ff-poppins);
  color: var(--neutral-700);
}

.custom-popover img {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.hero-title {
  color: var(--neutral-900);
  font-family: var(--ff-lora);
  font-size: 28px;
  font-weight: var(--fw-600);
  line-height: 33.6px;
}

.hero-lead {
  color: var(--neutral-500);
  font-size: 14px;
  font-weight: var(--fw-400);
  line-height: 19.6px;
}

.hero-cta {
  width: 286px;
  height: 43px;
  padding: 9.35px 18.7px;
  background-color: var(--primary-500);
  color: var(--neutral-900);
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: var(--fw-700);
  line-height: 22.4px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.my-32 {
  margin-block: 32px;
}

.brand-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111px;
}

.brand-logo {
  max-width: 72px;
  max-height: 80%;
  object-fit: contain;
}

.brand-logo.text {
  max-width: 128px;
  height: 17px;
}

@media screen and (min-width: 992px) {
  .hero-title {
    font-size: 3.273rem;
    line-height: 57.609px;
    letter-spacing: -1.047px;
  }

  .hero-lead {
    font-size: 16px;
    line-height: 22.4px;
  }

  .hero-cta {
    font-size: 15px;
    line-height: 20.949px;
  }

  .my-lg-64 {
    margin-block: 64px;
  }
}
